<!DOCTYPE html>
<html lang="en, it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>

    <!-- Boostrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Boostrap JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Google Font - Lato Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Personal Project CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

    <!-- VUE JS Module -->
    <script src="assets/js/vue.js" type="module"></script>

    <!-- App Begin -->
    <div id="app">
        <main class="my_app-container">

            <section class="my_user-chat-list">
                <div class="my_user-nav">

                    <div class="avatar-info-wrapper">
                        <div class="my-top-avatar">
                            <img src="assets/img/avatar_io.jpg" alt="My Personal Avatar">
                        </div>
                        <div class="user-profile-data">
                            <h6 class="m-0 my_personal-name">Sofia</h6>
                        </div>
                    </div>

                    <!-- Left Top Nav Icons List -->
                    <ul class="m-0 d-flex gap-3">
                        <li class="top-nav-icons">
                            <i class="fa-solid fa-circle-notch"></i>
                        </li>
                        <li class="top-nav-icons">
                            <i class="fa-solid fa-message"></i>
                        </li>
                        <li class="top-nav-icons">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </li>
                    </ul>
                </div>

                <div class="my_notification-messages"></div>

                <!-- Search Bar Input -->
                <div class="my_search-bar">
                    <form class="d-flex w-100" role="search">
                      <div class="form-group has-search w-100">
                        <i class="fa-solid fa-magnifying-glass form-control-serch-icon"></i>
                        <input class="form-control" type="search" 
                        placeholder="Cerca o inzia una nuova chat..." aria-label="Search" v-model="searchQuery">
                      </div>
                    </form>
                </div>

                <!--  Contacts List -->
                <div class="my_contacts-list-container">
                    <div class="my_contact-container" v-for="(contact, index) in filteredContactsList" 
                        :key="contact.name" @click="selectContactChat(index)" :class="{ 'active-chat': activeContactIndex === index }">
                        <div class="contact-avatar">
                            <img :src="`assets${contact.avatar}`" :alt="contact.name">
                        </div>
                        <div class="contact-info">
                            <h5 class="contact-name m-0">
                                {{ contact.name }}
                            </h5>
                            <span class="contact-last-message">
                                {{ getLastSentMessage(contact) }}
                            </span>
                        </div>
                        <span class="last-message-time-table">12:00</span>
                    </div>
                </div>

            </section>

            <section class="my_user-chat-main">

                <div class="my_user-nav">

                    <div class="avatar-info-wrapper">
                        <div class="contact-top-avatar">
                            <img :src="`assets/${contacts[activeContactIndex].avatar}`" :alt="contacts[activeContactIndex].name + '\'s avatar'">
                        </div>
                        <div class="user-profile-data">
                            <h6 class="m-0 my_personal-name">
                                {{ contacts[activeContactIndex].name }}
                            </h6>
                            <span class="my_contact-last-access">Ultimo accesso oggi alle 12:00</span>
                        </div>
                    </div>

                    <!-- Right Top Nav Icons List -->
                    <ul class="m-0 d-flex gap-3">
                        <li class="top-nav-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </li>
                        <li class="top-nav-icons">
                            <i class="fa-solid fa-paperclip"></i>
                        </li>
                        <li class="top-nav-icons">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </li>
                    </ul>
                </div>

                <!-- Main Chat -->
                <div class="chat-messages-display">
                    <div class="message" v-for="(message, index) in contacts[activeContactIndex].messages" :key="index"
                      :class="{ sent: message.status === 'sent', received: message.status === 'received' }">
                      <p class="m-0">{{ message.message }}</p>
                      <span class="my_message-time-table">{{ message.date }}</span>
                      <span v-if="message.status === 'sent'" class="btn-group dropdown-icon">
                        <button type="button" class="p-0 my_icon-btn" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <button class="dropdown-item" type="button">
                                    Message Info
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" @click="deleteMessage(index)">
                                    Delete Message
                                </button>
                            </li>
                          </ul>
                        
                      </span>
                    </div>
                  </div>

                <div class="my_user-send-container">

                    <div class="emoji-btn">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <div class="message-send-input-container">
                        <input type="text" class="form-control my_input-message-send" placeholder="Scrivi un messaggio" required
                            v-model="newMessageInput" @keyup.enter="addNewMessage()">
                    </div>
                    <div class="vocal-message-btn">
                        <i class="fa-solid fa-microphone"></i>
                    </div>

                </div>
                
            </section>
        </main>
    </div>
    
</body>
</html>