:root {
    /* Color Scheme */
    --top-app-bg: #009688;
    --rest-app-bg: #dadbd2;

    --main-bg: #ffffff;
    --user-nav-top-bg: #eaeaea;

    /* Measuraments */
    --main-chat-col: 830px;
    --user-nav-h: 70px;

}

* {
    outline: 1px solid red;
}

body {
    height: 100vh;
    min-height: 400px;
    background: linear-gradient(
        to bottom,
        var(--top-app-bg) 0%,
        var(--top-app-bg) 15%,
        var(--rest-app-bg) 15%,
        var(--rest-app-bg) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DO NOT TOUCH */
div#app {
    width: 80%;
}

/* DO NOT TOUCH */
.my_app-container {
    background-color: var(--main-bg);
    height: 95vh;
    display: flex;
}

.my_user-chat-list,
.my_user-chat-main {
    height: 100%;
}

.my_user-chat-list {
    width: var(--main-chat-col);
}

.my_user-chat-main {
    width: 100%;
}

.my_user-chat-list > .user-nav,
.my_user-chat-main > .user-nav {
    height: var(--user-nav-h);
    background-color: var(--user-nav-top-bg);
    width: 100%;
}