:root {
    /* Color Scheme */
    --top-app-bg: #009688;
    --rest-app-bg: #dadbd2;

    --main-bg: #ffffff;
    --user-nav-top-bg: #eaeaea;
    --icons: #b1b1b1;
    --columns-divider: #dadada;
    --notification-messages-bg: #8edafc;
    --user-send-container-bg: #f3eeea;
    --search-chat-bg: #f9f9f9;
    --send-input-icons: #626b6e;

    --contact-container-hover: #e9ebeb;
    --last-message-sent: #cecac3;

    --message-received: white;
    --mesage-sent: #d5f9ba;

    /* Measuraments */
    --main-chat-col: 830px;
    --user-nav-h: 70px;
    --notification-messages-h: 80px;
    --user-send-mess-container: 70px;
    --search-input-container: 50px;
}

* {
    /* outline: 1px solid red; */
}

body {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        var(--top-app-bg) 0%,
        var(--top-app-bg) 145px,
        var(--rest-app-bg) 145px,
        var(--rest-app-bg) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

/* DO NOT TOUCH */
div#app {
    width: 80%;
    max-width: 2100px;
}

/* DO NOT TOUCH */
.my_app-container {
    background-color: var(--main-bg);
    height: 95vh;
    display: flex;
    overflow: hidden;
}

.my_user-chat-list,
.my_user-chat-main {
    height: 100%;
}

.my_user-chat-list {
    width: var(--main-chat-col);
    border-right: 1px solid var(--columns-divider);
}

.my_user-chat-main {
    width: 100%;
}

.my_user-chat-list > .my_user-nav,
.my_user-chat-main > .my_user-nav {
    height: var(--user-nav-h);
    background-color: var(--user-nav-top-bg);
    width: 100%;
}

.my_user-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}
    .avatar-info-wrapper {
        display: flex;
        align-items: center;
    }
    .my-top-avatar,
    .contact-top-avatar {
        width: 3.2rem;
        overflow: hidden;
        border-radius: 50%;
    }
    .user-profile-data {
        margin-left: 1rem;
    }
        .my_contact-last-access {
            color: rgb(119, 118, 118);
            font-size: 0.9rem;
        }
    .top-nav-icons {
        color: var(--icons);
        font-size: 1.4rem;
    }

/* User Chat List */
.my_notification-messages {
    background-color: var(--notification-messages-bg);
    height: var(--notification-messages-h)
}

/* Search Bar */
.my_search-bar {
    height: var(--search-input-container);
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    background-color: var(--search-chat-bg);
}
    .has-search .form-control {
        padding-left: 5.2rem;
        background-color: white;
        border-radius: 0.15rem;
    }
    
    .has-search > .form-control-serch-icon {
        position: absolute;
        z-index: 2;
        pointer-events: none;
        color: var(--icons);
        font-weight: bold;
        width: 5rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        border-right: 1px solid var(--columns-divider);
    }

/* Contacts List Container */
.my_contacts-list-container {
    height: calc(100% - var(--user-nav-h) - var(--search-input-container) - var(--notification-messages-h));
    overflow-y: scroll;
}

.my_contact-container {
    padding: 0.5rem 0.8rem 0.5rem 1rem;
    border-bottom: 1px solid var(--columns-divider);
    display: flex;
    cursor: pointer;
    position: relative;
}
.my_contact-container:last-child {
    border: none;
}
.my_contact-container:hover {
    background-color: var(--contact-container-hover);
}
    .contact-avatar {
        border-radius: 50%;
        width: 4rem;
        overflow: hidden;
    }
    .contact-info {
        margin-left: 1.5rem;
    }
        .contact-last-message {
            color: rgb(169, 166, 166);
            font-size: 0.9rem;
        }
    .last-message-time-table {
        color: rgb(169, 166, 166);
        font-size: 0.7rem;
        position: absolute;
        top: 0.5rem;
        right: 0.8rem;
    }

/* User Chat Main */
.chat-messages-display {
    background-image: url(../img/mine.jpg);
    height: calc(100% - var(--user-send-mess-container) - var(--user-nav-h));
    overflow-y: scroll;
    width: 100%;
    padding: 4rem 5rem 0.5rem 5rem;
    display: flex;
    flex-direction: column;
}
.message {
    border-radius: 0.5rem;
    padding: 1rem;
    width: 38%;
    margin-bottom: 0.8rem;
    position: relative;
}
    .message.sent {
        background-color: var(--mesage-sent);
        align-self: flex-end;
    }
    .message.received {
        background-color: var(--message-received);
    }
    .my_message-time-table {
        color: rgb(169, 166, 166);
        font-size: 0.7rem;
        position: absolute;
        bottom: 0.2rem;
        right: 0.4rem;
    }

.my_user-send-container {
    background-color: var(--user-send-container-bg);
    height: var(--user-send-mess-container);
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
}
    .message-send-input-container {
        width: 100%;
    }
    .my_input-message-send {
        height: 50px;
    }

    .emoji-btn,
    .vocal-message-btn {
        padding: 0 2.5rem;
        font-size: 1.5rem;
        color: var(--send-input-icons);
    }

    .emoji-btn > i,
    .vocal-message-btn > i {
        cursor: pointer;
    }