:root {
    /* Color Scheme */
    --top-app-bg: #009688;
    --rest-app-bg: #dadbd2;

    --main-bg: #ffffff;
}

* {
    outline: 1px solid red;
}

body {
    height: 100vh;
    min-height: 400px;
    background: linear-gradient(
        to bottom,
        var(--top-app-bg) 0%,
        var(--top-app-bg) 15%,
        var(--rest-app-bg) 15%,
        var(--rest-app-bg) 100%
    );

    display: flex;
    justify-content: center;
    align-items: center;
}

.my_app-container {
    background-color: var(--main-bg);
    height: 90vh;
    width: 1200px;
}